<div class="container" data-ng-controller="HeaderController">
<!-- 	<div class="navbar-header">
		<a href="/#!/" class="navbar-brand">yt@same</a>
	</div>
 -->	<nav class="collapse navbar-collapse" role="navigation">

		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>



		<ul class="nav navbar-nav navbar-fixed-left" data-ng-show="authentication.user">
			<li class="dropdown" dropdown>
				<a href="#" class="dropdown-toggle glyphicon glyphicon-film" data-toggle="dropdown" dropdown-toggle></a>
					<ul class='dropdown-menu'>
						<input placeholder="Search..." type="text" name="" id="" ng-model='room_search' ng-click="$event.stopPropagation()" ng-change=''>
						<li ng-repeat="room in rooms | filter:room_search | limitTo:2">
							<a>{{ room }}</a>
						</li>
					</ul>
			</li>
			<li class="dropdown" dropdown>
				<a href="#" class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown" dropdown-toggle>
<!-- 					 <b class="caret"></b> -->
				</a>
				<span data-ng-bind="authentication.user.displayName" ></span>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>