<div class="container navbar-header" data-ng-controller="HeaderController">
 	<nav class="navbar-collapse" role="navigation">
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>

		<ul class="nav nav-stacked" data-ng-show="authentication.user">
			<li class="dropdown row-sm-4" dropdown>
				<a href="#" class="dropdown-toggle glyphicon glyphicon-glass" data-toggle="dropdown" dropdown-toggle></a>
					<ul class='dropdown-menu'>
						<input placeholder="Search..." type="text" name="" id="" ng-model='room_search' ng-click="$event.stopPropagation()" ng-change=''>
						<li data-ng-repeat="room in rooms | filter:room_search | limitTo:2">
							<a>{{ room }}</a>
						</li>
						<li ng-show="(rooms | filter:room_search).length == 0"><a ng-click='createRoom(room_search)' class='glyphicon glyphicon-plus' style='font-size: 12px'>  Create this Room</a></li>
					</ul>
			</li>
			<li class="dropdown row-sm-4" dropdown>
				<a href="#" class="dropdown-toggle glyphicon glyphicon-film" data-toggle="dropdown" dropdown-toggle></a>
				<ul class='dropdown-menu' >
					<input placeholder="Search for video..." type="text" name="" id="" ng-model='video_search' ng-click="$event.stopPropagation()" ng-change='searchYouTube()' ng-blur='clearSearch($event)'>
					<li data-ng-repeat="result in video_results">
						<a>{{ result }}</a>
					</li>
				</ul>
			</li>
			<li class="dropdown row-sm-4" dropdown>
				<a href="#" class="dropdown-toggle glyphicon glyphicon-cog" data-toggle="dropdown" dropdown-toggle>
<!-- 					 <b class="caret"></b> -->
				</a>
				<!-- <span data-ng-bind="authentication.user.displayName" ></span> -->
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>