<section data-ng-controller="mainController">
    <div class="container" data-ng-controller="mainController">
        <div class="navbar-header"></div>
        <nav class="collapse navbar-collapse" role="navigation">
        </nav>
     <!--    <form id="search">
            <input id='query' name='q' type="text" data-ng-model="query" placeholder="type video" data-ng-model="searches" ng-click="search()" data-ng-model="searches"/>
            <div ng-show="searches"></div>
            <input id='submit' name='submitSearch'  class='btn btn-primary' data-ng-click="search()" value='Search'/> 
        </form> -->
  <!--       <div class="searchYT">
            <br>
            <input type="text" ng-enter='ytSearcher()' ng-model="ytQuery" placeholder='Paste in a video link here!' size='70'></input>
            <button class="btn btn-primary" size='10' ng-click='ytSearcher()'>Submit</button>
        </div> -->
       <!--  <div class="youtube embed-responsive embed-responsive-4by3">
            <youtube class="embed-responsive-item" width="640" height="390" vid=''></youtube>
        </div> -->
        <div class='youtube'>
            <youtube width="640" height="390" vid=''></youtube>
        </div>
        
  <!--
  #DD: This was originally meant to list active users, but
  was not added due to time constraints 
		<div class="chatUsersContainer"></div>
			<div class="chatBarUsers"></div> -->
        <div class="right-sidecontainer">
            <div class="chatContainer" ng-controller='chatController'>
                <div class="chat-history" >
                    <div class='chat'>
                            <div id="chats" ng-repeat='text in messages'>
                                <div>{{text.username}}</div>
                                <p>{{text.message}}</p>
                            </div>
                    </div>
                </div>
                <div class='chat-submit-container'>
                    <input id='chat-submit-input' type="text" ng-enter='sendMessage()' ng-model='message' placeholder='Chat with your friends here!'></input>
                    <button class="chat-submit-button" ng-click='sendMessage()' style='right: 0px;'>Submit</button>
                </div>
            </div>
            <div class="queue-container">
                <div class='queued-video'  ng-repeat="video in queuedVideos">
                    <div>
                        {{ video }}
                        <a class='vote-glyph glyphicon glyphicon-ok-circle' style='color: chartreuse;'> </a>
                        <a class='vote-glyph glyphicon glyphicon-ban-circle' style='color: red;'> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>