<section data-ng-controller="mainController">
    <div class="container" data-ng-controller="mainController">
        <div class="navbar-header"></div>
        <nav class="collapse navbar-collapse" role="navigation">
        </nav>
        <form id="search">
            <input id='query' name='q' type="text" data-ng-model="query" placeholder="type video" data-ng-model="searches" ng-click="search()" data-ng-model="searches"/>
            <div ng-show="searches"></div>
            <input id='submit' name='submitSearch'  class='btn btn-primary' data-ng-click="search()" value='Search'/> 
        </form>
     <!--    <div class="searchYT">
            <br>
            <input type="text" ng-enter='ytSearcher()' ng-model="ytQuery" placeholder='Paste in a video link here!' size='70'></input>
            <button class="btn btn-primary" size='10' ng-click='ytSearcher()'>Submit</button>
        </div> -->
    <!--     <div class='youtube'>
            <youtube width="640" height="390" vid=''></youtube>
        </div> -->
        
  <!--
  #DD: This was originally meant to list active users, but
  was not added due to time constraints 
		<div class="chatUsersContainer"></div>
			<div class="chatBarUsers"></div> -->

        <div class="chatContainer">
            <div class="chatBar" ng-controller='chatController'>
                <div class='input'>
                    <input type="text" ng-enter='sendMessage()' ng-model='message' placeholder='Chat with your friends here!' size='85'></input>
                    <button class="btn btn-primary" ng-click='sendMessage()'>Submit</button>
                    <!-- <p>Filter Messages:
				<input type="text" ng-model='filterText'> -->
                </div>
                <div class='chat'>
                        <div id="chats" ng-repeat='text in messages'>
                            {{text.username}} - {{text.message}}
                        </div>
                </div>
            </div>
        </div>
</section>
//waffle
//waffle