body{
	/*background-image: url('http://www.highresolutiontextures.com/textures/concrete-walls/hrt-concrete-wall-02.jpg');*/
	background-size: cover;
	display:inline-block;
}
p {
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   color: #AAA;
}
li, .divider {
	background-color: #FFF;
}
nav {
	padding: 0px 0px 0px 0px;
}
.navbar-collapse {
	padding: 0px 0px 0px 0px;
}
.navbar-header {
    width:30px;
    padding:0px;
    float: left;
	background-color: #FFF;
	z-index: 100;
}	
.dropdown-toggle {
	width: 55px;
}
.dropdown {
	padding: 0px;
}
header {
	width: 55px;
}
.youtube {
	position:absolute;
	top: 0px;
	left: 55px;
	z-index:-1;
}


@media(max-width:326px){
	.chatContainer {
		display: none;
	}
}

/*
@media screen and (min-width: 768px) {
    .navbar-header{
        width:600px;
    }
}


@media screen and (min-width: 992px) {
    .navbar-header{
        width:720px;
    }

}


@media screen and (min-width: 1200px) {
    .navbar-header{
        width:900px;
    }
}
*/




.glyphicon {
    font-size: 27px;
    color: #EEE;
}
.navbar-brand {
	background-color: #FFF;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.btn{
	background-color: #FFF;
}
.jumbotron{
	opacity: 0.8;
	margin: 50px;
	padding: 20px;
}
.hometext{
	font-size: 45px;
	opacity: 1;
}

.homebtn{
	text-align: center;
	width: 100%;
	left: 50%;
	top:50%;
}



.btn2{
	background-color: #dcdcdc;
	font-size: 65px;
	opacity: 0.8
}

.btnCtn{
	text-align: center;
	width: 100%;
	left: 50%;
	top:50%;
	padding-top:250px;

}

.btn.btn-primary{
	font-size: 12px;
	margin-top: 1px;
	opacity: 1;
}



.searchYT{
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
}


.chatContainer{
	top: 0px;
	right: 0px;
	background: #0B0;
	height:80%;
	width:20em;
	z-index:-10;
	position: absolute;
}

.chat-history{
	background-color: white;
	color: #999;
	border: #AAA 1px solid;
	width: 20em;
	height: 94%;
	word-wrap: normal;
	top: 0px;
	right: 0px;
	position: absolute;
	overflow-y: scroll;
}

#chats{
	margin-left: 15px;
}

.chat-submit-container {
	height: 6%;
	width: 100%;
	position: absolute;
/*	display:inline-block;*/
	bottom: 0px;
	right: 0px;
}

#chat-submit-input {
	position: absolute;
	width:80%;
	height:100%;
	left:0px;
}

button.chat-submit-button{
	position:absolute;
	height:100%;
	width: 20%;
	font-size: 14px;
	opacity: 0.8
	right: 0px; /* This apparently is being overridden somewhere by the scaffolding
	added a inline style mainView.html */
	border: 1px;
	border-color: #0F0;
}

.chat{
	
}