body{
	/*background-image: url('http://www.highresolutiontextures.com/textures/concrete-walls/hrt-concrete-wall-02.jpg');*/
	background-size: cover;
	display:inline-block;
	width:100%;
}
p {
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   color: #AAA;
}
li, .divider {
	background-color: #FFF;
}
nav {
	padding: 0px 0px 0px 0px;
}
.navbar-collapse {
	padding: 0px 0px 0px 0px;
}
.navbar-header {
    width:30px;
    padding:0px;
    float: left;
	background-color: #FFF;
	z-index: 100;
}	
.dropdown-toggle {
	width: 55px;
}
.dropdown {
	padding: 0px;
}
header {
	width: 55px;
}
.youtube {
	position:absolute;
	top: 0px;
	left: 55px;
	z-index:-1;
}


@media(max-width:326px){
	.chatContainer {
		display: none;
	}
}

@media(max-width:975px){
	.chatContainer {
		display: none;
	}
}

/*
@media screen and (min-width: 768px) {
    .navbar-header{
        width:600px;
    }
}


@media screen and (min-width: 992px) {
    .navbar-header{
        width:720px;
    }

}


@media screen and (min-width: 1200px) {
    .navbar-header{
        width:900px;
    }
}
*/




.glyphicon {
    font-size: 27px;
    color: #EEE;
}
.navbar-brand {
	background-color: #FFF;
}

.content {
	margin-top: 50px;
	width: 100%;
	left: 50%;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


.btn{
	background-color: #DDD;
	border-radius: 0px;
	color: #000;
}
.btn-primary {
	background-color: #DDD;
}
.btn{
	background-color: #DDD;
}
.btn.btn-primary {
	background-color: #DDD;
}

.btn:hover {
	background-color: #CCC;
}

.home-container {
	top:0px;
	width:100%;
	margin-left: auto;
    margin-right: auto
}
.about {
	width: 30em;
	margin-top:7em;
	margin-left:31%;
}
.about-p {
	width: 30em;
	left:50%;
	text-align: center;
}
.jumbotron-center {
	margin-left: auto;
    margin-right: auto
}
.hometext{
	font-size: 45px;
	opacity: 1;
}

.homebtn{
	color: #000;
	text-align: center;
	width: 100%;
	left: 50%;
	top:50%;
}
/*@import "compass/css3";

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}
*/

.btn2{
	background-color: #dcdcdc;
	font-size: 65px;
	opacity: 0.8
}

.btnCtn{
	text-align: center;
	width: 100%;
	left: 50%;
	top:50%;
	padding-top:250px;

}

.btn.btn-primary{
	font-size: 12px;
	margin-top: 1px;
	opacity: 1;
}



.searchYT{
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-align: center;
}

.right-sidecontainer {
	height: 100%;
	width: 20em;
	right: 0px;
	top: 0px;
	z-index: -2;
	position: fixed;
}
.chatContainer{
	top: 0px;
	right: 0px;
	background: #0B0;
	height:80%;
	width:20em;
	z-index:-1;
	position: absolute;
}
.queue-container {
	height:20%;
	width: 20em;
	bottom:0px;
	border: #AAA 1px solid;
	position: absolute;
	overflow-y: scroll;
}
.chat-history{
	background-color: white;
	color: #999;
	border: #AAA 1px solid;
	width: 20em;
	height: 94%;
	word-wrap: normal;
	top: 0px;
	right: 0px;
	position: absolute;
	overflow-y: scroll;
}

#chats{
	margin-left: 15px;
}

.chat-submit-container {
	height: 6%;
	width: 100%;
	position: absolute;
/*	display:inline-block;*/
	bottom: 0px;
	right: 0px;
}

#chat-submit-input {
	position: absolute;
	width:80%;
	height:100%;
	left:0px;
}
/*.video-result {
	color: #999;
}
.video-result:hover {
	background-color: #DDD;
}*/
.video-search-ul {
	overflow-y: scroll;
}
button.chat-submit-button{
	position:absolute;
	height:100%;
	width: 20%;
	font-size: 14px;
	opacity: 0.8
	right: 0px; /* This apparently is being overridden somewhere by the scaffolding
	added a inline style mainView.html */
	border: 1px;
	border-color: #0F0;
}

/*.chat{
	
}*/

.vote-glyph {
	font-size: 13px;
}

.vote-glyph:hover {
	font-size: 14px;
	background-color: #777;

}

.video-image-div:hover {
	opacity: .6;
}

.queue-glyph {
	color: red;
	font-size: 15px;
	position:relative;
	right: 50%;
}

.queue-glyph:hover {
	z-index:2;
	display: visible;
	font-size: 18px;
	background-color: yellow;
}